/* Resest CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/
/*
   1. Vị trí
   2. Kích thước (width, height)
   3. Màu sắc
   4. Kiểu dáng (kiểu chữ, hình dạng)
*/

.text-white {
    color: #fff !important;
} 
/* Viết class riêng */

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: calc(100%/3);
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}


#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    animation: transform 4s;
}
@keyframes transform {
    from {background-color: #f2a900;}
    to {background-color: #000;}
}

#nav {
    display: inline-block;
}


#nav, .subnav {
    list-style-type: none;
}


#nav ul li a{
    text-decoration: none;
    position: relative;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li {
    display:inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    animation: slide 1s;
}
@keyframes slide {
    0%{left:8px;}
    20%{left:-6.5px;}
    40%{left:5px;}
    60%{left:-3.5px;}
    80%{left:2px;}
    100%{left:0;}
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#nav .subnav a {
    color:#000;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 16px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: calc(200%/3);
    background: url(/assets/img/Slider/slider1.jpg) top center / cover no-repeat; 
}

#slider .text-cotent {
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-heading a {
    text-decoration: none;
    color: #fff;
}

#slider .text-heading a:hover {
    color: #f2a900;
}

#slider .text-descriptsion{
    font-size: 15px;
    margin-top: 25px;
}
#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.ticket-list{
    list-style-type: none;
    margin-top: 40px;
    background-color: #fff;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-des {
    margin-top: 15px;
    line-height: 1.4;
}

.clear {
    clear: both;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: #656565;
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: #f2a900;
}

h3 {
    font-size: 26px;
    margin-bottom: 16px;
}
